@import url('../../styles/reset.css');

header {
	align-items: center;
	background-color: #1a1a1a;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	text-align: center;
}

header a {
	position: relative;
	color: #5fbeeb;
	text-decoration: none;
}

header a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, #5fbeeb 0%, #35d5a2 50%, #ff4b91 100%);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.25s ease-in-out;
}

header a:hover::after {
	transform: scaleX(1);
}

h1 {
	font-size: 2.5rem;
	margin-top: 2rem;
}

.logo {
	height: 8rem;
	width: 8rem;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2rem #5fbeeb);
}

.logo.angular:hover {
	filter: drop-shadow(0 0 2rem #dd0031);
}

nav {
	display: flex;
	gap: 4rem;
	justify-content: center;
}

main {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

p {
	font-size: 1.2rem;
	max-width: 1280px;
}

@media (prefers-color-scheme: light) {
	header {
		background-color: #ffffff;
	}
}

