main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

nav {
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.angular:hover {
	filter: drop-shadow(0 0 2em #dd0031aa);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin-bottom: 1rem;
}

p {
	text-align: center;
	max-width: 600px;
}

code {
	background-color: #1a1a1a;
	padding: 0.2rem 0.4rem;
	border-radius: 0.25rem;
	font-size: 0.9em;
}

@media (prefers-color-scheme: light) {
	code {
		background-color: #f0f0f0;
	}
}

